<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap"
        href="#/tab/chats/{{chat.doc._id}}">
        <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
        <h2>{{chat.doc.name}}</h2>
        <p>{{chat.doc.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat.doc)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
